body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #fafafa;
    flex: 1 0 auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    height: 60px;
}

.running-line {
    display: flex;
    padding: 0;
    margin: 0;
}

.running-line li {
    display: block;
    padding: 20px;
    border-radius: 1%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.running-line button {
    position: relative;
    bottom: 5px;
    width: 90px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 50px;
    box-shadow: rgba(0,0,0, 30%) 0px 2px 8px -3px;   
}

.intro-content {
    background-color: #fafafa;
    display: flex;
    
}

.section-block-1 {
    width: 50%;
    margin: 40px 0 0 40px;
    background-color: #fafafa;
}

.section-header-logo {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Druk;
    font-weight: 900;
}

.section-header-content {
    margin-bottom: 20px;
    font-family: Druk;
    line-height: 0.6;
    font-weight: 900;
}

.section-header-content p {
    
}

.section-header-button {
    height: 5.9952038369vw;
    font-size: 1.9184652278vw;
    width: 20.623501199vw;
    margin-top: 3.5971223022vw;
    margin-bottom: 30px;
}

.section-header-button button {
    border-radius: 50px;
    background-color: #333;
    color: #f1f1f1;
    font-size: 18px;
    padding: 12px 30px;
    font-weight: 700;
    border-style: none;
    height: 55px;
}

.section-header-button button:hover {
    border-radius: 50px;
    background-color: #333;
    color: #f1f1f1;
    font-size: 19px;
    padding: 10px 28px;
    font-weight: 700;
    border-style: none;
    height: 60px;
    transition: 50ms;
}

.section-block-2 {
    width: 50%;
    background-color: #fafafa;
    justify-content: center;
}

.intro-menu {
    background-color: #fafafa;
    padding-bottom: 20px;
}

.intro-menu-mini li {
    margin-right: 10px;
}

.tabs-mini {
    display: flex;
    list-style-type: none;
}

.tabs-mini li button {
    font-size: 1.2em;
    border-radius: 30px;
    border-color: #333;
    background-color: #fafafa;
    padding: 12px 30px;
    border-color: #f1f1f1;
    border-style: none;
}

.tabs-mini li button:focus {
    font-size: 1.2em;
    border-radius: 30px;
    border-color: #333;
    background-color: #ffffff;
    padding: 12px 30px;
    border-color: #f1f1f1;
    -webkit-box-shadow: 0 1px 1px #fff;
    -moz-box-shadow:  0 1px 1px #fff;
    box-shadow:  1px 1px 0 #fff, inset 0 2px 2px rgba(94, 94, 94, 0.3);
    transition: 1s;
}

.intro-menu-max {
    display: grid;
}

.intro-menu-max li{
    list-style-type: none;
    width: 370px;
    height: 140px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 20px;
}

.tabs-max {
    display: flex;
}

.tabs-max p {
    padding: 30px;
    width: 180px;
    font-weight: 500;
    line-height: 1.25;
    font-family: Inter, Helvetica, Arial, sans-serif;
}

.tabs-max img {
    position: relative;
    width: 230px;
    bottom: 157px;
    right: -191px;
}

.intro-center {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    background-color: #fafafa;
    padding-bottom: 100px;
}

.intro-center p {
    font-family: Inter, Helvetica, Arial, sans-serif;
    color: #333;
}

.intro-map {
    -ms-touch-action: auto;
    touch-action: auto;
    padding-bottom: 40px;
}

.intro-info {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 20px;
}

.intro-info-1 {
    width: 30%;
    margin: 10px;
}                                                                                                       

.intro-info-h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 0.8;
    padding-bottom: 15px;
}

.intro-info-h1 img {
    width: 100%;
    padding-bottom: 15px;    
}

.intro-info-h3 {
    font-size: 17px;
    width: 90%;
}

footer {
    background-color: rgb(141, 141, 141);
    flex-shrink: 0;
    padding: 20px;
}