body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #fafafa;
    flex: 1 0 auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    height: 60px;
}

.running-line {
    display: flex;
    padding: 0;
    margin: 0;
}

.running-line li {
    display: block;
    padding: 20px;
    border-radius: 1%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.intro-content {
    background-color: #fafafa;
}

.section-block-1 {
    width: 50%;
    float: left;
    padding: 30px;
    background-color: #fafafa;
}

.section-header-logo {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Druk;
    line-height: 0.9;
    font-weight: 900;
}

.section-header-content {
    font-size: 70px;
    margin-bottom: 20px;
    font-family: Druk;
    line-height: 0.9;
    font-weight: 900;
}

.section-header-button {
    height: 5.9952038369vw;
    font-size: 1.9184652278vw;
    width: 20.623501199vw;
    margin-top: 3.5971223022vw;
}

.section-header-button button {
    border-radius: 50px;
    border-color: #333;
    background-color: #333;
    color: #f1f1f1;
    font-size: 16px;
    padding: 12px 30px;
    font-weight: 600;
}

.section-header-button button:hover {
    
}

.section-block-2 {
    width: 43%;
    float: right;
}

.intro-menu {
    
}

.intro-menu-mini li {
    --tab-height: 50px;
    --tab-spacing: 30px;
    padding: 0 var(--content-left-inset);
    overflow: auto;
    user-select: none;
}

.tabs-mini {
    display: flex;
    list-style-type: none;
}

.tabs-mini li button {
    font-size: 1.2em;
    border-radius: 30px;
    border-color: #333;
    background-color: #ffffff;
    padding: 12px 30px;
    border-color: #f1f1f1;
    border-style: none;
}

.tabs-mini li button:hover {
    font-size: 1.2em;
    border-radius: 30px;
    border-color: #333;
    background-color: #ffffff;
    padding: 12px 30px;
    border-color: #f1f1f1;
}

.intro-center {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.intro-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.intro-info-h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 30px;
}

.intro-info-h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 15px;
}

footer {
    background-color: rgb(141, 141, 141);
    flex-shrink: 0;
    padding: 20px;
}